hello/build/*
hello/Hello
hello/Init
hello/ksm.module
hello/kos-qemu-image*
hello/security.psl.c

microhs/MicroHs
microhs/out.comb
microhs/Hello
microhs/HelloHost
microhs/Hello.c
microhs/Hello.comb
microhs/Hello-opt.comb
microhs/Addcombs
microhs/.mhsi
microhs/build/*
microhs/Hello
microhs/Init
microhs/security.psl.c
microhs/ksm.module
microhs/kos-qemu-image*

*.agdai
agda-hello/Hello
agda-hello/_build
agda-hello/MAlonzo
agda-hello/.mhsi
agda-hello/MicroHs
agda-hello/Addcombs
agda-hello/Einit.edl
agda-hello/Hello-opt.comb
agda-hello/Hello.c
agda-hello/Hello.comb
agda-hello/Hello.edl
agda-hello/Init
agda-hello/kos-qemu-image*
agda-hello/ksm.module
agda-hello/security.psl
agda-hello/security.psl.c


echo/build/*
