hello/build/*
hello/Hello
hello/Init
hello/ksm.module
hello/kos-qemu-image*
hello/security.psl.c

microhs/MicroHs
microhs/out.comb
microhs/Hello
microhs/HelloHost
microhs/Hello.c
microhs/Hello.comb
microhs/Hello-opt.comb
microhs/Addcombs
microhs/.mhsi
microhs/build/*
microhs/Hello
microhs/Init
microhs/security.psl.c
microhs/ksm.module
microhs/kos-qemu-image*

*.agdai
agda-hello/Hello
agda-hello/_build
agda-hello/MAlonzo
agda-hello/.mhsi
agda-hello/MicroHs
agda-hello/Addcombs
agda-hello/Einit.edl
agda-hello/Hello-opt.comb
agda-hello/Hello.c
agda-hello/Hello.comb
agda-hello/Hello.edl
agda-hello/Init
agda-hello/kos-qemu-image*
agda-hello/ksm.module
agda-hello/security.psl
agda-hello/security.psl.c


echo/build/*
echo-haskell/build/*
echo-haskell/MicroHs
echo-haskell/out.comb
echo-haskell/Hello
echo-haskell/HelloHost
echo-haskell/Hello.c
echo-haskell/Hello.comb
echo-haskell/Hello-opt.comb
echo-haskell/Addcombs
echo-haskell/.mhsi

simple-ksm2/build/*
simple-ksm2/Hello
simple-ksm2/Init
simple-ksm2/ksm.module
simple-ksm2/kos-qemu-image*
simple-ksm2/MicroHs
simple-ksm2/out.comb
simple-ksm2/Hello
simple-ksm2/HelloHs
simple-ksm2/HelloHost
simple-ksm2/HelloHs.c
simple-ksm2/HelloHs.comb
simple-ksm2/HelloHs-opt.comb
simple-ksm2/Addcombs
simple-ksm2/.mhsi
simple-ksm2/build/*
